
.cartEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px 0px;
  a {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(29, 83, 233);
    background-color: #fff;
    color: rgb(29, 83, 233);
    align-self: center;
    }
    a:hover {
      box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 20%);
    }
  
}
.cartTittle {
  text-align: center;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 50px;
  &--grilla {
    display: grid;
    gap: 25px 0px;
    padding: 25px;
    width: 60%;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    &__total {
      justify-self: end;
      font-size: 20px;
      font-weight: 600;
      span {
        font-size: 20px;
        font-weight: 700;
        color: green;
      }
    }
    .buttonsBorrar {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgb(184, 37, 37);
        background-color: #fff;
        color: rgb(184, 37, 37);
        align-self: center;
        cursor: pointer;
    }
    .buttonsBorrar:hover {
      box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 20%);
    }
    .buttonSuccess {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid rgb(38, 151, 38);
      background-color: #fff;
      color: rgb(38, 151, 38);
      align-self: center;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
    }
    .buttonSuccess:hover {
      box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 20%);
    }
    .buttonPrimary {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid rgb(37, 50, 231);
      background-color: #fff;
      color: rgb(37, 50, 231);
      align-self: center;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
    }
    .buttonPrimary:hover {
      box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 20%);
    }
  }
}