.user-cart {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  width: 30px;
  height: 20px;
  background: url("../../../public/icon-cart.png");
  background-size: 30px;
  background-repeat: no-repeat;
  b {
    margin-left: 25px;
  }
}