.itemList--container {
  grid-column: 1/4;
  width: 80%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0 20px;
    li {
      display: grid;
      grid-template-rows: 50px 1fr 10px;
      padding: 15px;
      margin-top: 15px;
      border: 1px solid lightgray;
      box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 20%);
      border-radius: 5px;
      list-style: none;
      .cardProduct-title{
        grid-row: 1;
        font-weight: 500;
      }
      .cardProduct-image {
        grid-row: 2;
        justify-self: center;
        width: 100px;
        height: 120px;
        object-fit: contain;
      }
      .cardProduct-price{
        grid-row: 3;
        font-weight: 500;
      }
    }
  }
} 